*{
    color: white;
    background-color: transparent;
    border: none;
    list-style-type: none;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}
body{
    background-color: #171C26;
}
header{
    padding: 0 100px;
}
.header_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}
.nav_bar_container{
    display: flex;
}
.user_profile{
    display: flex;
    align-items: center;
}
.avatar{
    width: 75px;
    border-radius: 50%;
}
.avatar, .user_nick{
    cursor: pointer;
}
.user_welcome{
    line-height: 0.3;
    padding-left: 9px;
}
.user_welcome_words{
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
}
.user_nick{
    font-size: 24px;
    font-weight: 700;
}
.menu_bar{
    display: none;
    margin: 0 30px;
    position: relative;
}
.menu_bar:hover .dropdown_content{
    display: inline-block;
}
.dropdown_btn{
    font-size: 20px;
}
.dropdown_content{
    background-color: rgba(32, 39, 53, 1);
    top: 35px;
    justify-self: center;
    position: absolute;
    display: none;
    border: 1px solid #171C26;
    padding: 0;
}
.dropdown_item{
    display: block;
    font-size: 20px;
    font-weight: 400;
    padding: 20px;
    border: 1px solid #171C26;
}
.nav_bar_item{
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    padding: 0 30px;
}
.nav_bar_item:hover{
    cursor: pointer;
}
.nav_input_form{
    position: relative;
}
.nav_input{
    width: 208px;
    height: 38px;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 400;
    padding: 0 5px;
    color: black;
    background-color: white;
}
.nav_search{
    width: 30px;
    height: 30px;
    background-color: rgba(9, 192, 250, 1);
    border-radius: 5px;
    position: absolute;
    right: 4px;
    top: 4px;
}
.nav_search:hover{
    cursor: pointer;
}
.header_section{
    margin-top: 40px;
    background-color: rgba(32, 39, 53, 1);
    height: 486px;
    border-radius: 19px;
    padding: 20px 100px;
}
.header_title{
    text-align: center;
    font-size: 46px;
    font-weight: 800;
}
.header_section_contauner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_container{
    display: flex;
    padding: 100px 0;
}
.header_container_title{
    font-size: 36px;
    font-weight: 400;
    line-height: 1.5;
}
.header_section_img{
    width: 74px;
    height: 82px;
    align-self: flex-end;
}
.header_custom_button{
    position: relative;
    margin-top: 30px;
}
.header_btn{
    border: 4px solid white;
    width: 240px;
    height: 58px;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    z-index: 2;
}
.background_btn{
    position: absolute;
    background-color: #09C0FA;
    width: 240px;
    height: 58px;
    top: 7px;
    left: 7px;
    z-index: 1;
}
.yellow{
    background-color: #FFB647 !important;
}
.header_btn:hover{
    cursor: pointer;
}
.header_custom_button:active .background_btn{
    top: 0px;
    left: 0px;
    transition-duration: 100ms;
}
.convert{
    background-color: rgba(32, 39, 53, 1);
    height: 486px;
    border-radius: 19px;
    margin: 20px 100px;
    padding: 100px;
    margin-top: 140px;
}
.convert_title{
    text-align: center;
    font-size: 46px;
    font-weight: 800;
    line-height: 1.5;
}
.yellow_word{
    color: #FFB647;
}
.converte_function{
    display: flex;
    justify-content: space-around;
}
.choose_gap{
    position: relative;
}
option{
    color: white;
    font-size: 18px;
    font-weight: 700;
    background-color: black;
}
.select{
    color: white;
    font-size: 18px;
    font-weight: 700;
    width: 200px;
    height: 52px;
    border: white solid 4px;
    z-index: 2;
    position: relative;
    padding-left: 5px;
}
.bg_color{
    background-color: #09C0FA;
    width: 200px;
    height: 52px;
    z-index: 1;
    position: absolute;
    top: 7px;
    left: 7px;
}
.choose_gap:active .bg_color{
    top: 0px;
    left: 0px;
    transition-duration: 100ms;
}
.select:hover{
    cursor: pointer;
}
.input_btn_convert{
    margin: 50px 211px;
    display: flex;
    justify-self: center;
}
.input_container{
    position: relative;
    justify-self: center;
}
.input{
    color: white;
    font-size: 18px;
    font-weight: 700;
    width: 186px;
    height: 48px;
    border: white solid 4px;
    z-index: 2;
    position: relative;
    padding-left: 10px;
}
.background_input{
    background-color: #09C0FA;
    width: 200px;
    height: 52px;
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 10px;
}
.convertbtn_contain{
    margin-left: 50px;
    position: relative;
}
.convertbtn{
    color: white;
    font-size: 18px;
    font-weight: 700;
    width: 150px;
    height: 52px;
    border: white solid 4px;
    z-index: 2;
    position: relative;
    padding-left: 5px;
}
.convertbtn_bg{
    background-color: #FFB647;
    width: 150px;
    height: 52px;
    z-index: 1;
    position: absolute;
    top: 6px;
    left: 6px;
}
.convertbtn_contain:active .convertbtn_bg{
    top: 0px;
    left: 0px;
    transition-duration: 100ms;
}
.convertbtn:hover{
    cursor: pointer;
}
.result{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
.news{
    background-color: rgba(32, 39, 53, 1);
    height: 486px;
    border-radius: 19px;
    margin: 20px 100px;
    padding: 100px;
    margin-top: 140px;
}
.news_title{
    text-align: center;
    font-size: 46px;
    font-weight: 800;
    line-height: 1.5;
}
.news_list{
    display: flex;
    justify-content: space-around;
}
.news_item{
    width: 30%;
    height: 100%;
    background-color: #171C26;
    
}
.news_img{
    width: 100%;
}
.news_headline{
    font-weight: 700;
    font-size: 16px;
    padding: 15px;
}
.news_underline{
    font-size: 10px;
    font-weight: 400;
    padding: 15px;
}
.show_news{
    display: none;
    font-size: 10px;
    font-weight: 400;
    padding: 0 15px;
}
.trade{
    background-color: rgba(32, 39, 53, 1);
    height: 486px;
    border-radius: 19px;
    margin: 20px 100px;
    padding: 100px;
    margin-top: 140px;
}
.trade_title{
    text-align: center;
    font-size: 46px;
    font-weight: 800;
    line-height: 1.5;
}
.trade_discription{
    display: flex;
    justify-content: space-between;
}
.about_container{
    display: flex;
}
.about_title{
    font-size: 36px;
    font-weight: 400;
    line-height: 1.5;
}
.etheriumimg{
    width: 100px;
    height: 100px;
    align-self: flex-end;
}
footer{
    margin-top: 200px;
}
tr{
    text-align: left;
}
.titles{
    padding-left: 150px;
    padding-bottom: 20px;
}
.links{
    padding-left: 150px;
    padding-bottom: 20px;
}
.data:hover{
    cursor: pointer;
}